<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Wikipedia Viewer</title>


    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>



</head>

<body>

    <body ng-app="wikiApp">
        <div ng-controller="wikiController">
            <div class="container-fluid container-center text-center">
                <div class="random-viewer">
                    <p><a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Click here for a random article</a></p>
                </div>
                <div class="search-viewer">
                    <form ng-submit="search()">
                        <input ng-model="searchString" input="text">
                    </form>
                </div>

            </div>

            <div class="result-viewer">
                <div ng-repeat="result in results">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <wiki-result result="result"></wiki-result>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>

    <script src="js/index.js"></script>
    <script src="js/resultController.js"></script>
    <script src="js/wikiController.js"></script>
    <script src="directives/wikiResult.js"></script>

</body>

</html>
